.grid{
    display: grid;
    grid-template-columns: repeat(2,15rem);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
button{
    margin-top: 5px;
}
img{
    height: 400px;
    width: 400px;
}
input{
    margin-top: 5px;
}
.validationError{
    color: firebrick;
}
/*a{*/
/*    position: relative;*/
/*    left: 5rem;*/
/*}*/